<div class="container container-new">
    <div class="wrap-dashboard">

        <!-- === navigation ===================================== -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">

            <div class="navbar-header">
              <a class="navbar-brand" href="#">NICE Dashboard</a>
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li ui-sref="home"><a href="">Home</a></li>
                <li ui-sref="chart"><a href="">Chart</a></li>
              </ul>
              <a class="pull-right btn btn-primary btn-sm" ng-click=""><i class="glyphicon glyphicon-open"></i> Export to CSV</a>
              <a class="pull-right btn btn-primary btn-sm" ng-click=""><i class="glyphicon glyphicon-cog"></i> Widget Settings</a>
              <a class="pull-right btn btn-primary btn-sm" ng-click=""><i class="glyphicon glyphicon-chevron-left"></i> Back to Home</a>
            </div>

          </div>
        </nav>


        <div class="dashboard">
            <div class="page-header">
                <h1>CHART page</h1><br />

            </div>
        </div>
    </div>
</div>
